hr
.container-fluid
  .row
    .col-12
      footer.py-3.my-4
        ul(class="nav justify-content-center border-bottom pb-3 mb-3")
          li.nav-item 
            a(href="/" class="nav-link px-2 text-muted") Home
          li.nav-item 
            a(href="/" class="nav-link px-2 text-muted") About
          li.nav-item 
            a(href="/" class="nav-link px-2 text-muted") Services
          li.nav-item 
            a(href="/" class="nav-link px-2 text-muted") Contact
        p.text-center.text-muted &copy; 2021 Company, Inc