.container-fluid.bg-dark.px-3
  header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom")
    ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
      li
        a(href="/overview" class="nav-link px-2 link-secondary") Home
      li
        a(href="#" class="nav-link px-2 link-light") About
      li
        a(href="#" class="nav-link px-2 link-light") Services
      li
        a(href="#" class="nav-link px-2 link-light") Contact
    div(class="col-md-3 text-end")
    if user 
      a(href="#" class="btn btn-outline-danger me-2") Sign Out
      a(href="#", target="_blank")
        img(src=`/img/users/default.jpg` alt=`Photo of user` style='width: 40px; height: 40px; border-radius: 50%;')

    else
      button(type="button" class="btn btn-outline-light text-light me-1")
        a(href="/signin" class=" p-0 m-0" style="text-decoration: none;")  Login
      button(type="button" class="btn btn-primary me-1")
        a(href="/signup" class="nav-link link-light p-0 m-o") Sign up

