.container-fluid.bg-dark.px-3
      header(class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3  border-bottom")
        ul(class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0")
          li
            a(href="#" class="nav-link px-2 link-secondary") Home
          li
            a(href="#" class="nav-link px-2 link-light") About
          li
            a(href="#" class="nav-link px-2 link-light") Services
          li
            a(href="#" class="nav-link px-2 link-light") Contact
        div(class="col-md-3 text-end")
          button(type="button" class="btn btn-outline-primary me-1")
            a(href="/sign-in" class="nav-link link-primary p-0 m-0")  Login
          button(type="button" class="btn btn-primary me-1")
            a(href="/sign-up" class="nav-link link-light p-0 m-o") Sign up