nav.navbar.navbar-light.navbar-expand-md.py-3(style='background: rgba(255, 255, 255, 0.79); margin-bottom: 17px')
      .container
        a.navbar-brand.d-flex.align-items-center(href='#')
          span.bs-icon-sm.bs-icon-rounded.bs-icon-primary.d-flex.justify-content-center.align-items-center.me-2.bs-icon
            svg.bi.bi-eye-fill(xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' fill='currentColor' viewBox='0 0 16 16')
              path(d='M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z')
              path(d='M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z')
          span Eyelinic
        button.navbar-toggler(data-bs-toggle='collapse' data-bs-target='#navcol-1')
          span.visually-hidden Toggle navigation
          span.navbar-toggler-icon
        #navcol-1.collapse.navbar-collapse
          if user
            ul.navbar-nav.me-auto
              li.nav-item
                a.nav-link.active(href="/api/v1/users/dashboard" style="text-decoration: none;") Dashboard
              li.nav-item
                a.nav-link(href="/api/v1/users/profile-settings" style="text-decoration: none;") Profile-settings
              if (user.role === 'admin' )
                li.nav-item 
                  a.nav-link(href="/api/v1/users/dashboard#users" style="text-decoration: none;") Users
                li.nav-item 
                  a.nav-link(href="/api/v1/users/dashboard#services" style="text-decoration: none;") Services

                li.nav-item
                  a.nav-link(href="/api/v1/users/dashboard#bookings" style="text-decoration: none;") Bookings
              else
                li.nav-item 
                  a.nav-link(href="/api/v1/bookings" style="text-decoration: none;") Bookings
                li.nav-item
                  a.nav-link(href="#" style="text-decoration: none;") help

            div(class="col-md-3 text-end")
              a(href="/api/v1/users/signout" class="btn btn-danger me-2 btn--custom" style="text-decoration: none;") Log out
              img.mx-4(src=`/img/users/${user.photo}` alt=`Photo of user` style='width: 40px; height: 40px; border-radius: 50%;')

          else
            ul.navbar-nav.me-auto
              li.nav-item
                a.nav-link.active(href='/') Home
              li.nav-item
                a.nav-link(href='/about') About
              li.nav-item
                a.nav-link(href='/contact') Contact
            a(href='#' style='margin-right: 278px')
            a.btn.btn-primary.me-2(href="/api/v1/users/login" style="text-decoration: none;") Log In
            a.btn.btn-primary.me-2(href="/api/v1/users/signup" style="text-decoration: none;") Sign Up
                    