extends base

block content 
    .container 
        .row.mx-md-5.mt-5
            .col-12
                h1.text-center.text-primary(style="font-weight: 900") About Us
                hr.text-secondary(style="font-weight: 900")
            .col-12
                p 
                | Eyelinic is an optical care institution that helps you stick to your plan and schedule by avoiding the long queues at the clinics and health centers.
                | Here you get to beek an appointment with a doctor offering the service of your choice and get the best experience at the best prices.
                | For instance, you can also an appointment with an optician and get your eyes checked and get the best glasses and lenses for your eyes.
                | This is all done from the conform of your home or office.
                p 
                | All you need is to Create an account and access the services. 
                | The services are prepaid via M-pesa. Therefore, once you have booked an appointment no physicall payments will be allowed in the clinic.
                