html 
  head 
    include _head.pug

  body 
    include _header.pug

    //- main content
    main
      block content
        h1 palceholder text
    

    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js') 
    script(src='/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js')
    
  
    include _footer.pug
