doctype html
html(lang='en')
  head
    include _head.pug
  body
    include _header.pug

    //- main content
    main
      block content
        h1 palceholder text
    
    
    script(src='/bootstrap-5.1.3-dist/js/bootstrap.min.js')
    
  include _footer.pug
