extends base

block content
  .d-flex.align-items-center.justify-content-center.mb-5
    .text-center
      h1.display-1.fw-bold 404
      p.fs-3
        span.text-danger Opps!
        |  Page not found.
      p.lead
        | The page you’re looking for doesn’t exist.
      a.btn.btn-primary(href='/' style="text-decoration: none;") Go Home