extends base

block content
    .container.mx-md-5.mb-5
        .card.card-login.mx-md-5.mt-5
            .card-header.bg-secondary.text-white.text-center
                | Reset Password
            .card-body
                .text-center.mt-4.mb-5
                h4 Forgot your password?
                p
                    | Enter your email address and we will send you instructions on how to reset your password.
                form
                .form-group
                    input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email address')
                a.btn.btn-primary.btn-block.mt-2(href='login.html') Reset Password
                .text-center
                a.d-block.small.mt-3.link-primary(href='/signup' style="text-decoration:none") Register an Account
                a.d-block.small.link-primary(href='/signin' style="text-decoration:none") Login Page

                