extends base

block content
    .container.mx-md-5.mb-5
        .card.card-login.mx-md-5.mt-5
            .card-header.bg-secondary.text-white.text-center
                | Forgot Password
            .card-body
                .text-center.mt-4.mb-5
                h4 Forgot your password?
                p
                    | Enter your email address and we will send you instructions on how to reset your password.
                form(action="/api/v1/users/forgot-password" method="POST")
                    .form-group
                        
                        input#email.form-control(type='email', name="email", placeholder='Enter email')
                    input.btn.btn-primary.btn-block.mt-3(type="submit", value="Send Reset Email")
                
                a.d-block.small.mt-3.link-primary(href='/api/v1/users/signup' style="text-decoration:none") Register an Account
                a.d-block.small.mt-3.link-primary(href='/api/v1/users/login' style="text-decoration:none") Login Page

                