extends base

block content
  .container
    .row
      .col(style='\
      background: #ffffff;\
      padding-top: 11px;\
      padding-bottom: 8px;\
      border-radius: 10px;\
      ')
        h1(style='padding-left: 41px') Welcome to Eyelinic
        p(style='\
        margin-left: 18px;\
        margin-top: 4px;\
        padding-right: 38px;\
        margin-right: 20px;\
        padding-left: 24px;\
        padding-top: 16px;\
        padding-bottom: 24px;\
        ')
          span(style='color: rgb(68, 68, 68)')
            | Your eyes are an important part of your health. Most people rely
            | on their eyes to see and make sense of the world around them. But
            | some 
          span(style='color: rgb(0, 102, 153)') eye diseases
          span(style='color: rgb(68, 68, 68)')  can lead to 
          span(style='color: rgb(0, 102, 153)') Vision Loss
          span(style='color: rgb(68, 68, 68)')
            | , so it is important to identify and treat eye diseases as early
            | as possible. You should get your eyes checked as often as your
            | health care provider recommends it, or if you have any new vision
            | problems. And just as it is important to keep your body healthy,
            | you also need to keep your eyes healthy.
          br
  .container
    .row(style='margin-bottom: 133px')
      .col(style='\
      margin-top: 9px;\
      margin-bottom: 12px;\
      padding-bottom: 7px;\
      padding-top: 8px;\
      margin-left: 33px;\
      padding-left: 24px;\
      ')
        a.btn.btn-outline-danger.px-3.m-3(href="/api/v1/users/signup" style="text-decoration: none") Get started
        a.btn.btn-primary.px-3.m-3(href='/api/v1/users/login' style="text-decoration: none;") Log in
  