//- extends base

//- block content
//-   .container-sm-fluid.mx-4.mb-5
//-     .card.card-login.mx-md-5.mt-5
//-       .card-header.bg-dark.text-white.text-center
//-         | Login
//-       .card-body.p-md-5
//-         form(action='/api/v1/users/login' method='POST')
//-           .form-group
//-             label.my-2(for='exampleInputEmail1') Full name
//-             .px-md-5
//-               input#email.form-control.input-group-sm(type='text' name="username" placeholder='username')
//-           .form-group
//-             label.my-2(for='password') Password
//-             .px-md-5
//-               input#password.form-control.input-group-sm(type='password' pattern=".{8,}" name="password", placeholder='Password')
//-           input.btn.btn-primary.btn-block.mt-3(type="submit", value="Login") 
//-         .text-center
//-           a.d-block.small.mt-3.link-primary(href='/api/v1/users/signup' style="text-decoration:none") Register an Account
//-           a.d-block.small.link-primary(href='/api/v1/users/forgot-password' style="text-decoration:none") Forgot Password?

doctype html
html(lang='en')
  head
    include _head.pug
  body
    include _header.pug
    .container
      .row
        .col
          section.position-relative.py-4.py-xl-2
            .container
              .row.mb-2
                .col-md-8.col-xl-6.text-center.mx-auto
                  h2 Log in
              .row.d-flex.justify-content-center(style='margin-bottom: 71px;')
                .col-md-6.col-xl-4
                  .card.mb-5
                    .card-body.d-flex.flex-column.align-items-center
                      form.text-center(action='/api/v1/users/login' method='POST')
                        .mb-3
                          input.form-control(type='text' name="username" placeholder='username')
                        .mb-3
                          input.form-control(type='password' pattern=".{8,}" name="password", placeholder='Password')
                        .mb-3
                          button.btn.btn-primary.d-block.w-100(type='submit') Login
    include _footer.pug
    script(src='/bootstrap-5.1.3-dist/js/bootstrap.min.js')