html 
  head 
    include _head.pug

  body 
    include _header.pug


    //- include signin.pug
    //- include profile-settings.pug
    //- include error.pug
    include home.pug
    //- include payment.pug
    
    script(src='/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js')
    
  
    include _footer.pug
