extends base

block content
  .container-fluid.mx-md-5.p-2
    .row
      // Profile Sidebar
      .col-md-4
        .profile-sidebar
          .widget-profile.pro-widget-content.mx-5.px-5
            .profile-info-widget
              a.booking-doc-img(href='#')
                img.m-2(src='img/users/default.jpg' alt='User Image' style='border-radius: 50%; width: 100px; height: 100px;')
            .profile-det-info
              h4 user.name
              .patient-details
                h5
                  i.fas.fa-birthday-cake
                  |  user.dateOfBirth
                  
          .dashboard-widget.px-5.float-start
            nav.dashboard-menu.container
              .row.justify-content-center                      
                 
                  a(href='#' style="text-decoration:none; height=:20px" class='btn btn-outline-primary m-2 h-75')
                    i.fas.fa-lock
                      span View bookings
              
                
                  a(href='/changepassword' style="text-decoration:none;" class='btn btn-outline-primary m-2 h-75')
                    i.fas.fa-lock
                      span Change Password
              
                
                  a(href='/signout' style="text-decoration:none;" class='btn btn-outline-primary m-2 h-75')
                    i.fas.fa-sign-out-alt
                      span Logout
      // /Profile Sidebar
      .col-md-8
        .card
          .card-body
            // Profile Settings Form
            form
              .row.form-row
                .col-12.col-md-12.mb-4
                  .form-group
                    .change-avatar
                      .profile-img.mb-3
                        img(src='img/users/default.jpg' alt='User Image' style='width: 100px; height:100px; border-radius:50%;')
                      .upload-img.mb-2
                        .change-photo-btn
                          span
                            i.fa.fa-upload
                            |  Upload Photo
                          input.upload(type='file')
                        small.form-text.text-muted (Allowed JPG or PNG. Max size of 2MB)
                .col-12.col-md-6
                  .form-group.my-3
                    label First Name
                    input.form-control(type='text')
                .col-12.col-md-6
                  .form-group.my-3
                    label Last Name
                    input.form-control(type='text')
                br
                .col-12.col-md-6
                  .form-group.my-3
                    label Date of Birth
                    .cal-icon
                      input.form-control.datetimepicker(type='date')
                .col-12.col-md-6
                  .form-group.my-3
                    label E-mail
                    input.form-control(type='email')
                br
                .col-12.col-md-6
                  .form-group.my-3
                    label Phone Number
                    input.form-control(type='text')
                  br
                  br
                .submit-section
                  button.btn.btn-primary.submit-btn(type='submit') Save Changes
                // /Profile Settings Form
