.card.card-custom.bg-white.border-white.border-0
  .card-custom-img(style='background-image: url(/img/card1.jpg);')
  .card-custom-avatar
    img.img-fluid(src='http://res.cloudinary.com/d3/image/upload/c_pad,g_center,h_200,q_auto:eco,w_200/bootstrap-logo_u3c8dx.jpg' alt='Avatar')
  .card-body(style='overflow-y: auto')
    h4.card-title Card title
    p.card-text
      | Card has minimum height set but will expand if more space is needed for card body content. You can use Bootstrap 
      a(href='https://getbootstrap.com/docs/4.0/components/card/#card-decks' target='_blank') card-decks
      |  to align multiple cards nicely in a row.
  .card-footer(style='background: inherit; border-color: inherit;')
    a.btn.btn-primary(href='#') Option
    a.btn.btn-outline-primary(href='#') Other option