extends base 

block content 
    section#services.services.sections-bg
    .container(data-aos='fade-up')
        .section-header.text-center
            h2 Our Services
            p
            | Aperiam dolorum et et wuia molestias qui eveniet numquam nihil porro incidunt dolores placeat sunt id nobis omnis tiledo stran delop
        .row.gy-4(data-aos='fade-up' data-aos-delay='100')
            .col-lg-4.col-md-6
                .position-relative
                    .icon
                        i.fa-solid.fa-eye-low-vision
                h3 Eye Test
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repellendus consectetur ad perferendis voluptate impedit nam omnis rerum ullam doloremque?
                a.readmore.stretched-link.btn.btn-warning(href='#')
                    | View Pricing 
                    i.bi.bi-arrow-right
            // End Service Item
            .col-lg-4.col-md-6
                .position-relative
                .icon
                    i.fa-solid.fa-eye-low-vision
                h3 Lens Replacement
                p
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus error quibusdam perferendis architecto ratione, repellat dignissimos cumque recusandae magni voluptatem.
                a.readmore.stretched-link.btn.btn-warning(href='#')
                    | View Pricing 
                    i.bi.bi-arrow-right
            // End Service Item
            .col-lg-4.col-md-6
                .position-relative
                .icon
                    i.fa-solid.fa-eye-low-vision
                h3 Refraction
                p
                    | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis sit atque debitis. Aliquam quisquam atque sit suscipit magnam exercitationem saepe dolorem.
                a.readmore.stretched-link.btn.btn-warning(href='#')
                    | View Pricing 
                    i.bi.bi-arrow-right
                // Vertically centered modal
                // End Service Item
                .col-lg-4.col-md-6
                    .position-relative
                    .icon
                        i.fa-solid.fa-eye-low-vision
                    h3 Tonometry
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit dolore consequatur magni ipsam incidunt. Corrupti nesciunt molestias nam officiis magni.
                    a.readmore.stretched-link.btn.btn-warning(href='#')
                        | View Pricing 
                        i.bi.bi-arrow-right
                // End Service Item
                .col-lg-4.col-md-6
                    .position-relative
                    .icon
                        i.fa-solid.fa-eye-low-vision
                    h3 lorem
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id eligendi repellendus dolorem culpa? Libero, quaerat amet. Consectetur cum tempora ex.
                    a.readmore.stretched-link.btn.btn-warning(href='#')
                        | View Pricing
                        i.bi.bi-arrow-right
                // End Service Item
                .col-lg-4.col-md-6
                    .position-relative
                    .icon
                        i.fa-solid.fa-eye-low-vision
                    h3 ipsum
                    p
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta voluptates eius error architecto aperiam, commodi fugit quam neque! Debitis, distinctio!
                    a.readmore.stretched-link.btn.btn-warning(href='#')
                        | View Pricing 
                        i.bi.bi-arrow-right
                // End Service Item