extends base

block content
  .container-sm-fluid
      .card.card-register.mx-md-5.mt-5.d-flex.justify-content-center
        .card-header.text-primary.text-center
          h2 Register an Account
        .card-body.p-md-5
          form(action='/api/v1/users/signup' method='POST').container
            .row
              .form-group.col-md-6
                
                .my-2(for='InputName') Full Name
                .px-md-5 
                  input#InputName.form-control(type='text', name="username" aria-describedby='nameHelp', placeholder='Enter full name')
                  
              .form-group.col-md-6
                .my-2(for='InputEmail1') Email address
                .px-md-5
                  input#InputEmail1.form-control(type='email', name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" aria-describedby='emailHelp', placeholder='Enter email')
            .row  
              .form-group.col-md-6
                .my-2(for='date_of_birth') Date of Birth
                .px-md-5
                  input#date_of_birth.form-control(type='date', name="dateOfBirth" aria-describedby='emailHelp', min='1900-01-01', max=`${new Date().getFullYear() - 18}-${new Date().getMonth()}-${new Date().getDate() - 1}`, placeholder='Enter date of birth')
              .form-group.col-md-6
                .my-2(for='phone') Phone
                .px-md-5
                  input#phone.form-control(type="tel", name="phone" placeholder="Enter phone number")
            .row  
              .form-group.col-md-6
                .my-2(for='InputPassword1') Password
                .px-md-5
                  input#InputPassword1.form-control(type='password', pattern=".{8,}" name="password" placeholder='Password')
              .form-group.col-md-6  
                .my-2(for='confrim-password') Confirm Password
                .px-md-5
                  input#confrim-password.form-control(type='password', pattern=".{8,}" name="passwordConfirm" placeholder='Password')
          
            input.btn.btn-primary.btn-block.mt-3(type="submit", value="Sign Up")
          .text-center
            a.d-block.small.mt-3.link-primary(href='/api/v1/users/login' style="text-decoration:none") Login Page