* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
}
main {
  padding: 20px;
  margin: 0 auto;
  min-height: 100vh;
  max-height: max-content;
  background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.658),
      rgba(252, 252, 252, 0.671)
    ),
    url("/img/harpreet-singh-XbPhaw-x0i0-unsplash.jpg");
  background-position: center;
  background-size: cover;
}
/* how to center div
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.intro-section {
  margin: 10px;
  padding: 10px;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgba(219, 216, 216, 0.877);
  border-radius: 10px;
}
.intro-section--title {
  font-weight: 900;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  margin-bottom: 10px;
}

.intro-section--description {
  padding: 20px;
  font-size: 20px;
}

.profile-card {
  height: 75%;
  display: flex;
  flex-direction: column;
}

.profile-settings {
  min-height: max-content;
  display: flex;
  flex-direction: column;
}
